* {
  box-sizing: border-box;
}
* {
  font-family: "inter";
}
* {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
* {
  box-sizing: border-box;
}
* {
  flex-wrap: wrap;
}
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)),
    url(https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/1451f11e03da76480966b636a622119a.jpg);
  background-size: 100%;
  height: 100vh;
  background-position-y: 120%;
  background-repeat: no-repeat;

  margin-right: auto;
  margin-left: auto;
}
.heroitem {
  width: 1425px;
  margin-left: 400px;
  margin-right: auto;
  display: flex;
}
.hero-left {
  height: 450px;
  width: 450px;
  background-image: url("./hero-img.png");
  background-size: cover;
  border-radius: 20px;
  margin-top: 100px;
  background-size: 100%;
  background-position: center;
}
.hero-left:hover {
  background-size: 120%;
  transition: 0.5s;
}
.hero-right {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 60px;

  font-size: 35px;
}
.headerflex {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.headerflex2 {
  display: flex;
}
.header {
  width: 20px;
  height: 20px;
  background-image: url(Div\ [burgermenu].png);
  margin-left: 200px;
}
.headeritem {
  width: 135px;
  height: 18px;
  background-image: url(Image\ [logo].png);
  margin-right: 40px;
  margin-left: 300px;
}
.headeritem2 {
  width: 14px;
  height: 13px;
  margin-right: 10px;
}
.headeritem2:hover {
  background-color: blue;
}
.line {
  background-color: white;
  width: 1px;
  height: 18px;
  margin-right: 25px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.border {
  color: #ffffff;
  background-color: rgb(255, 255, 255, 0.5);
  margin-left: 12.64px;
  padding: 13px 29px;
  border-radius: 30px;
  font-size: 11.8px;
  box-shadow: 7px 4px 50px -4px rgba(209, 209, 209, 0.6);
}
.tushigt {
  background-image: url(tushigt.png);
  width: 44px;
  height: 44px;
}
.pictures {
  margin-top: 40px;

  margin-right: 50px;
  width: 293px;
  height: 433px;
}
.pictures:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.comment {
  background-color: white;
  border: 2px solid whitesmoke;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  justify-content: space-between;
  height: 180px;
}
.comment:hover {
  border: 0px solid whitesmoke;
  box-shadow: 12px 12px 6px gainsboro;
  transition: 1s;
  transform: scale(1.04);
  border-radius: 50px;
}
.end {
  display: flex;
  justify-content: end;
}

.section-2back {
  height: 1588px;
  background-color: whitesmoke;
  position: relative;
  display: flex;
  justify-content: center;
}
.section-2-back2 {
  width: 1116px;
  height: 1588px;
  background-color: whitesmoke;
  position: absolute;
}
.section-2-back3 {
  background-color: whitesmoke;
  width: 739px;
  height: 280px;
}
.people {
  font-size: 12px;
}
.date {
  color: gray;
}
.text {
  font-size: 22px;
  font-weight: bold;
}
.text:hover {
  color: rgb(0, 85, 255);
}
.section-3-back {
  background-color: yellowgreen;
  height: 1817px;
}
.section-3flex {
  display: flex;
  gap: 200px;
}
